.card {
    text-align: center;
    align-items: center;
    align-content: center;
    display: inline;
    border-radius: 2%;
    padding: 1rem;
    border-color: white;
    border-width: 10px;
}

.text {
    margin-top: 15px;
    color: black;
    font-weight: bold;
}

.button-primary {
    width: 200px !important;
}